body {
  font-family: 'serif', sans-serif;
  background-color: #FFF5F3;
}

.layout_padding {
  padding: 0px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.spinner-border {
  border-color: rgba(255, 255, 255, 0.5)!important;
  border-top-color: #ff754e!important;
}

.call_to-btn {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 12px;
  background-color: #ff754e;
  color: #ffffff;
  font-weight: 400;
  transition: all 0.3s ease 0s;
  font-weight: bold;
}

/* .hero_section .call_to-btn {} */

.call_to-btn img {
  width: 18px;
  margin-left: 10px;
}

.call_to-btn:focus {
  outline: none; /* Remove default focus outline */
}

/* Define focus styling to ensure text color remains consistent */
.call_to-btn:focus,
.call_to-btn:active {
  color: #ffffff; /* Set your desired text color for focus and active states */
}


.btn_on-hover {
  transition: all 0.3s ease 0s;
}

.call_to-btn:hover,
.btn_on-hover:hover {
  -webkit-box-shadow: 0 10px 20px 0 rgba(207,176,168,.57);
  -moz-box-shadow: 0 10px 20px 0 rgba(207,176,168,.57);
  box-shadow: 0 10px 20px 0 rgba(207,176,168,.57);
  transform: translateY(-7px);
  color: #ffffff; /* set your desired text color on hover */
}

.main-heading {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

/*header section*/

.header_section {
  padding-top: 10px;
  font-family: 'Poppins', sans-serif;
}

.sub_page .header_section {
  margin-bottom: 100px;
}

nav.navbar.navbar-expand-lg {
  padding: 2px 0;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 20px;
  color: #FE5D37;
  text-align: center;
  font-weight: bold;
  transition: transform 0.3s; /* Add transition for smooth movement */
}
.custom_nav-container .navbar-nav .nav-link:hover {
  transform: translateY(-5px); /* Move the item up by 5 pixels when hovered over */
}


a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow:  0 10px 20px 0 rgba(207,176,168,.57);
}

.top_container {
  position: relative;
}



.top_container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/wave1.png);
  background-size: 100% 100%;
  background-position: right bottom;
  background-repeat: no-repeat;
  z-index: -1;
}

.sub_page .top_container::before {
  background-color: transparent !important;
  background-image: none;
}

.sub_page .top_container::after {
  display: none;
}


.navbar-brand img {
  width: 25px;
  margin-right: 7px;
}


.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand span {
  font-size: 22px;
  font-weight: 700;
  color: #FE5D37;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 40px;
}

/*end header section*/

/* hero section */
.hero-container {
  display: flex;
  padding-top: 90px;
  padding-bottom: 325px;
}

.hero_detail-box {
  width: 40%;
}

.hero_img-container {
  width: 68%;
  margin-right: -8%;
  margin-top: -5%;
}

.hero_img-container img {
  width: 100%;
}

.hero_detail-box {
  color: #FE5D37;
}

.hero_detail-box h1 {
  font-size: 60px;
  color: #e95514;
  font-weight: 600;
  width: 70%;
  font-weight: bold;
  padding-top: 95px;
}


.hero_detail-box p {
  margin-top: 20px;
  margin-bottom: 35px;
  font-weight: 600;
}


/* end hero section */

/* common style for some sections */
.common_style>section {
  padding: 0px 0;
}

.common_style .row {
  align-items: center;
}

.common_style h3 {
  font-weight: 600;
  color: #ff754e;
}

.common_style p {
  font-weight: 600;
  color: #ff754e;
  margin: 30px 0 50px 0;
}

.common_style img {
  width: 100%;
}


/* end common style */

/* about section */
.about_section {
  text-align: right;
}

.about_section a {
  background-color: #ff754e;
  color: #ffffff;
}

.about_img-container img {
  width: 100%;
  height: auto;
  /* This will maintain the aspect ratio */
}

/* end about section */

/* admission section */


.admission_section a {
  background-color: #ff754e;
  color: #ffffff;
}

.light_text {
  font-weight: lighter;
  /* Or adjust color: */
  /* color: #999; */
  font-size: smaller;
}


/* end admission section */

/* why section */

.why_section {
  text-align: right;
}

.why_section a {
  background-color: #ff754e;
  color: #ffffff;
}

/* end why section */

/* determine section */


.determine_section a {
  background-color: #ff754e;
  color: #ffffff;
}

#determine-heading {
  color: #ff754e;
  font-weight: 600;
}
#why-heading {
  color: #ff754e;
  font-weight: 600;
}
#service-hours-heading {
  color: #ff754e;
  font-weight: 600;
}
p {
  color: #ff754e;
  font-weight: 600;
}


/* end determine section */

/* client section */
.client_section h2,
.client_section h5,
.client_section p {
  font-weight: 600;
}

.client_section h2 {
  text-align: center;
}


.client_section h5 {
  font-size: 24px;
  color: #ffffff;
}

.client_section .row {
  align-items: center;
  padding: 75px 0;
  margin: 0 15px;
}

.client_section img {
  width: 100%;
}

.client_img-box::before,


.client_img-box::before {
  top: -15px;
  transform: rotate(139deg);
  left: -15px;
  animation: beforeanimate 1s;
  animation-delay: .1s;
}

.client_img-box::after {
  bottom: -15px;
  transform: rotate(142deg);
  right: -15px;
  animation: afteranimate 1s;
  animation-delay: .1s;
}
.client_img-box img {
  border-radius: 15px; /* Rounded border */
  border: 6px solid #FFF5F3; /* Border color */
  box-shadow: 0 0 20px rgba(207, 176, 168, 0.57);
}


@keyframes beforeanimate {
  0% {
    top: 43%;
    transform: rotate(142deg);
    left: 31%;

  }

  100% {
    top: -15px;
    transform: rotate(139deg);
    left: -15px;
  }
}

@keyframes afteranimate {
  0% {
    bottom: 46%;
    transform: rotate(142deg);
    right: 35%;
  }

  100% {
    bottom: -15px;
    transform: rotate(142deg);
    right: -15px;
  }
}

.client_section .carousel-indicators {
  margin: 0;
  justify-content: flex-end;
  padding-right: 15px;
  bottom: -10px;
}

.client_section .carousel-indicators li {
  width: 25px;
  height: 25px;
  background-color: #ecb8a1;
  border-radius: 100%;
  opacity: 1;
}

.client_section .carousel-indicators li.active {
  background-color: #ff754e;
}

/* end client section */

/* contact section */

.contact_section {
  padding: 75px 45px;
  font-family: 'Poppins', sans-serif;
}

.contact_section .row {
  align-items: center;
}

.contact_section input {
  border: none;
  outline: none;
  width: 95%;
  height: 40px;
  margin: 15px 0;
  border-radius: 12.5px;

}



.contact_form-container button {
  border: none;
  background-color: #c2411a;
  color: #fff;
  font-size: 15px;
  padding: 15px 45px;
  border-radius: 12.5px;
  text-transform: uppercase;
  font-weight: bold;
}

.contact_img-box {

  display: flex;
  align-items: center;

}

.contact_img-box img {
  width: 100%;
}

.contact_section h2 {
  font-size: 26px;
  color: #ffffff;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 35px;
}

textarea {
  width: 95%;
  height: 150px;
  /* Adjust the height as needed */
  padding: 10px;
  box-sizing: border-box;
  resize: vertical;
  /* Allow vertical resizing */
  border-radius: 10px;
}

.form-container {
  max-width: 475px !important; /* Adjust as needed */
  margin: 0 auto; /* Center the container horizontally */
  background-color: #FFF5F3; /* Background color */
  border-radius: 15px; /* Rounded edges */
  padding: 20px; /* Add some padding for spacing */
  box-shadow: 0 0 10px rgba(207, 176, 168, 0.57);
}

.form-container button[type="submit"] {
  background-color: #fe7354;
  outline: #FE5D37;
}

.form-container label {
  color: #FE5D37;
}
.form-floating input[type="text"],
.form-floating input[type="email"],
.form-floating input[type="password"],
.form-floating textarea {
  /* Other styles */
  box-shadow: 0 0 10px rgba(236, 215, 209, 0.57); /* Light orange shadow */
}

body {
  caret-color: #FE5D37; /* Change the color of the cursor */
}

/* end contact section */


/* info section */
.info_section {
  background-color: #FFF5F3;
  color: #FE5D37;
  font-family: 'Poppins', sans-serif;
  position: relative;
  top: 100px;
  padding: 10px 0;
  font-weight: 600;
}

.info_logo-box {
  display: flex;
  justify-content: center;
}

.info_logo-box h2 {
  font-weight: 600;
  padding: 5px 7px;
  border-bottom: 1.5px solid #ffffff;
}

.info_section ul {
  padding: 0;
}

.info_section ul li {
  list-style-type: none;
  margin: 3px 0;
}

.info_section ul li a {
  color: #ffffff;
}

.info_section ul li a:hover {
  color: #fdd31d;
}

.info_section h5 {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
}



.info_section .form_container input {
  width: 225px;
  height: 40px;
  padding: 10px;
}

.info_section .form_container input::placeholder {
  color: #ccc8c8;
}

.info_section .form_container button {
  background-color: #c2411a;
  border: none;
  outline: none;
  color: #fff;
  padding: 8px 30px;
  margin-top: 15px;
  font-size: 15px;
  text-transform: uppercase;
}





.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

/* end info section */

/* footer section*/

.footer_section {
  background-color: #a63711;
  padding: 20px 15px;
  font-family: 'Poppins', sans-serif;
}

.footer_section p {
  color: #ffffff;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #FFF5F3;
}



/* end footer section*/

.admission_img-container img {
  width: 60%;
  height: auto;
  padding-bottom:0px;
}


.cloud-image {
  display: block;
  width: 100%; /* Set width to 100% to make it span the entire width of the screen */
  margin-top: 60px;
}

body {
  margin: 0;
  padding: 0;
}

/* Default styling for cloud image */
.cloud-imagel {
  content: ""; /* Required for pseudo-elements */
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 12vw; /* Adjust the width of the cloud image */
  height: 100vh; /* Set height to cover the entire viewport */
  background-image: url('../images/cloudl.png'); /* Replace path_to_your_cloud_image.png with the actual path to your cloud image */
  background-size: contain; /* Ensure the image size is maintained */
  background-attachment: fixed; /* Keep the background image fixed relative to the viewport */
  z-index: 1; /* Lower z-index value to position beneath other elements */
  padding: 20px; /* Add padding to create space around the text */
}


/* Styling for cloud image with higher z-index */
.cloud {
  position: relative;
  z-index: 2; /* Higher z-index value to position above other elements */
}

/* Media query to hide cloud image on mobile devices */
@media only screen and (max-width: 768px) {
  .cloud-imagel {
    display: none; /* Hide cloud image on screens with a maximum width of 768px (typical for mobile devices) */
  }
}


.about_img-container,
.admission_img-container,
.why_img-container,
.determine_img-container,
.client_img-box {
  padding-bottom: 0px; /* Adjust the padding-bottom value to reduce the space */
}

.about_detail-box,
.admission_detail-box,
.why_detail-box,
.determine_detail-box {
  margin-bottom: 0px; /* Adjust the margin-bottom value to reduce the space */
}

.page-background {
  background: url(../images/wave3.png);
  content: "";
  position: absolute;
  width: 100%;
  height: 95%;
  background-size: 100% 100%;
  background-position: right bottom;
  background-repeat: no-repeat;
  z-index: -1;
}



